@page "/editgame/{id}"

@inherits ComponentBase

@rendermode InteractiveServer

<h1 class="titleEdit">Edit Game</h1>


@if (isLogged)
{

    <div class="GameEditTeamsContainer">
    <ChangeName Class="ChangeGameName"
                @ref=@changeGameName
                StateChange=@CheckButtonState />

        <RadzenText TextAlign="TextAlign.Left" Text="Select Game Status:" />

        <RadzenDropDown class="EditGameDropDown" Change="@(args => OnChangeDropDown(args))" @bind-Value=@currentGameStatus Data=@(gameStatuses != null ? gameStatuses.Select(x => x.Name) : "")  Name="DropDownBindValue" /><br />
        <RadzenRadioButtonList Disabled="@(currentGameStatus == "Coming" || currentGameStatus == "Cancelled" || currentGameStatus == null)"
                               @ref="@radioButtonList" Change="@OnChangeRadio" Value="@winnerTeamName" TValue="string">
            <Items>
                <RadzenText TextAlign="TextAlign.Center" Text="Choose winner:"/>
                <RadzenRadioButtonListItem  Style="padding-left:1rem;padding-right:11.6vw;" Value="@teams[0]" />
                <RadzenRadioButtonListItem  Value="@teams[1]" />
            </Items>
        </RadzenRadioButtonList><br />
    <div class="GameEditTeamsContainerFlex">
        <div class="@(highlightedLeft ? "GameEditTeamsContainerDivActive" : "GameEditTeamsContainerDiv")">
            <center>
                <RadzenLabel Text="@teams[0]" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            </center>
            <br />
            <RadzenLabel Text="Points: " Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenNumeric Disabled="@(currentGameStatus == "Coming" || currentGameStatus == "Cancelled" || currentGameStatus == null)"
                           TValue="int"
                           Min="0"
                           Max="@maxTeamPoints"
                           @bind-Value=@teamPoints[0]
                           Change="@(args => OnChangeNumeric(args, 0))"
                           @ref=@radzenNumerics[0]
                           InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Team 1" }})" />
        </div>
        <div class="@(highlightedRight ? "GameEditTeamsContainerDivActive" : "GameEditTeamsContainerDiv")">
            <center>
                <RadzenLabel Text="@teams[1]" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            </center>
            <br />
            <RadzenLabel Text="Points: " Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenNumeric Disabled="@(currentGameStatus == "Coming" || currentGameStatus == "Cancelled" || currentGameStatus == null)"
                           TValue="int"
                           Min="0"
                           Max="@maxTeamPoints"
                           @bind-Value=@teamPoints[1]
                           Change="@(args => OnChangeNumeric(args, 1))"
                           @ref=@radzenNumerics[1]
                           InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Team 2" }})" />
        </div>
    </div><br /><br />
    <center><RadzenButton Text="Save Changes" Disabled="@isValueInitial" Click="OnClickSave"></RadzenButton></center>
</div>

}
