@page "/editgame/{id}"

@inherits ComponentBase

@rendermode InteractiveServer

<h1 class="titleEdit">Edit Game</h1>


@if (isLogged)
{

    <div class="GameEditTeamsContainer">
        
            <ChangeName @ref=@changeGameName
                        Title="Change Game Name"
                        RequestUrl="@nameRequestUrl"
                        StateChange=@CheckButtonState />
        <RadzenLabel Style="margin-right: 8px; vertical-align: middle;color:white;" Text="Select GameStatus" Component="DropDownBindValue" />

        <RadzenDropDown @bind-Value=@status Data=@(gameStatuses !=null ? gameStatuses.Select(x=>
                    x.Name):"") Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" /><br />
        <RadzenRadioButtonList Change="@OnChange" Value=@winnerTeamName TValue="string">
            <Items>
                <RadzenRadioButtonListItem Style="padding-right:16vw;" Value="@teams.FirstOrDefault()" />
                <RadzenRadioButtonListItem Value="@teams.Skip(1).FirstOrDefault()" />
            </Items>
        </RadzenRadioButtonList>
        <div class="GameEditTeamsContainerFlex">
            
            <div class="GameEditTeamsContainerDiv">
                <center>
                    <RadzenLabel Text="@teams.FirstOrDefault()" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
                </center>
                <br />
                <RadzenLabel Text="Points: " Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
                <RadzenNumeric Min="0"
                               Max="@maxTeamPoints"
                               @bind-Value=@team1Points
                               InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Team 1" }})" />
            </div>
            <div class="GameEditTeamsContainerDiv">
                <center>
                    <RadzenLabel Text="@teams.Skip(1).FirstOrDefault()" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
                </center>
                <br />
                <RadzenLabel Text="Points: " Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
                <RadzenNumeric Min="0"
                               Max="@maxTeamPoints"
                               @bind-Value=@team2Points
                               InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Team 1" }})" />
            </div>
        </div><br />
        <center><RadzenButton Text="Save Changes" Disabled="@isValueInitial" Click="OnClick"></RadzenButton></center>
    </div>
    







}
 