@page "/managegames"


@inherits ComponentBase

@rendermode InteractiveServer

<br />
<center><h1 style="color:white;">Manage Games</h1></center>
<br />
<RadzenDataGrid AllowFiltering="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true"
                PageSize="7"
                TItem="GameDto"
                AllowSorting="true"
                Data="@games"
                ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Single"
                @bind-Value=@selectedTeam
                RowClick="@(args => Update(args))"
                CellContextMenu="@OnCellContextMenu">

    <HeaderTemplate>
        <RadzenButton Style="margin-right:5px;" Icon="note_add" Text="Create" ButtonStyle="Radzen.ButtonStyle.Secondary" Click=@OpenCreateGame />
        <RadzenButton Style="margin-right:5px;" Disabled=@disabledEdit Click="@(()=> OpenEditGame(selectedTeam.FirstOrDefault()!.Id.ToString()))" Icon="edit" Text="Edit" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="GameDto" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="GameDto" Property="Date" Title="Date" Width="100px">
            <Template Context="game">
                @if (game.Date == null)
                {
                    <span></span>
                }
                else
                {
                    <div class="timeBadge">
                        <center><span>@(game.Date.Value.ToLocalTime().ToString("dd-MM-yyyy HH:mm tt"))</span></center>
                    </div>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="GameDto" Property="CreatedByUsername" Title="Created By" Width="100px" />
        <RadzenDataGridColumn TItem="GameDto" Property="BlueTeam" Title="Team 1" Width="100px" />
        <RadzenDataGridColumn TItem="GameDto" Property="RedTeam" Title="Team 2" Width="100px" />
        <RadzenDataGridColumn TItem="GameDto" Property="WinnerName" Title="Winner" />
    </Columns>
</RadzenDataGrid>