@page "/editteam/{id}"

@inherits ComponentBase

@rendermode InteractiveServer

<h3>Edit Team</h3>

@if (isLogged)
{
        <center><div class="mainProfile">
            
            <ChangeName @ref=@changeTeamName
                        Title="Change Team Name"
                        RequestUrl="@nameRequestUrl"
                        StateChange=@CheckButtonState />

            <ImageUpload @ref=@changeTeamLogo
                         Title="Team Logo"
                         SetImageFor="@ImageUpload.SetImageForOptions.Team"
                         RequestUrl="@logoRequestUrl"
                         StateChange=@CheckButtonState />
        <ChangeTeamMembers @ref=@changeTeamMembers id="@id" StateChange="@CheckButtonState" RequestUrl="@teamMembersRequestUrl" /><br />

            <RadzenButton Click=@OnClick Text="Save Changes" ButtonStyle="ButtonStyle.Primary" Disabled="@isValueInitial" />
        </div>
    </center>
}

@code {

    
}
