@page "/manageteams"


@inherits ComponentBase

@rendermode InteractiveServer


<center><h1 style="color:white;">Manage Teams</h1></center>

<RadzenDataGrid AllowFiltering="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true"
                PageSize="7"
                TItem="TeamDto"
                AllowSorting="true" Data="@teams" ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedTeam
                RowClick="@(args => Update(args))"
                CellContextMenu="@OnCellContextMenu">

    <HeaderTemplate>
@*             <HeaderTemplate>
        <RadzenButton Disabled=@(!isAdmin) Visible=@isAdmin Style="right: 5.5rem; float: right; position: absolute; margin-right: 0.5rem;" Icon="note_add" Text="Create" ButtonStyle="ButtonStyle.Secondary" Click="OpenChampionshipCreatePage" />
        <RadzenButton Disabled=@disabledEdit Visible=@isAdmin Style="right: 0.5rem; float: right; position: absolute;" Icon="edit" Text="Edit" ButtonStyle="ButtonStyle.Primary" Click=@(()=> OpenEditDialog(selectedChampionship.FirstOrDefault().Id.ToString())) />
        <RadzenButton Disabled=@disabledJoin Style="margin-right: 0.5rem;" Icon="groups" Text="Join" ButtonStyle="ButtonStyle.Success" Click=@(() => OpenJoinDialog(selectedChampionship.FirstOrDefault().Id.ToString(), selectedChampionship.FirstOrDefault().Name)) />
    </HeaderTemplate> *@
        

        <RadzenButton Style="right: 5.5rem; float: right; position: absolute" Icon="note_add" Text="Create" ButtonStyle="ButtonStyle.Secondary" Click=@OpenCreateTeam />
        <RadzenButton Style="right: 1rem; float: right; position: absolute;" Disabled=@disabledEdit Click="@(()=> OpenEditTeam(selectedTeam.FirstOrDefault()!.Id.ToString()))" Icon="edit" Text="Edit" />
        <RadzenButton Style="margin-right: 0.5rem;" Icon="groups" Text="History" ButtonStyle="ButtonStyle.Success" />
        </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="TeamDto" Property="Name" Title="Team">
            <Template Context="team">
                <ImageNameTemplate Image="@team.Logo"
                                   Name="@team.Name"
                                   ImageType="ImageNameTemplate.ImageTypeOptions.Team" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedOn" Title="Created On" />
        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedByUsername" Title="Created By" />
        <RadzenDataGridColumn TItem="TeamDto" Property="TeamTypeName" Title="Team Type" />
    </Columns>
</RadzenDataGrid>


