@page "/manageteams"


@inherits ComponentBase

@rendermode InteractiveServer


<center><h1 style="color:white;">Manage Teams</h1></center>

<RadzenDataGrid AllowFiltering="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true"
                PageSize="7"
                TItem="TeamDto"
                AllowSorting="true" Data="@teams" ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedTeam
                RowClick="@(args => Update(args))"
                CellContextMenu="@OnCellContextMenu">

    <HeaderTemplate>
        <RadzenButton Style="margin-right:5px;" Icon="note_add" Text="Create Team" ButtonStyle="ButtonStyle.Secondary" Click=@OpenCreateTeam />
        <RadzenButton Style="margin-right:5px;" Disabled=@disabledEdit Click="@(()=> OpenEditTeam(selectedTeam.FirstOrDefault()!.Id.ToString()))" Icon="edit" Text="Edit" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="TeamDto" Property="Name" Title="Team">
            <Template Context="team">
                <ImageNameTemplate Image="@team.Logo"
                                   Name="@team.Name"
                                   ImageType="ImageNameTemplate.ImageTypeOptions.Team" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedOn" Title="Created On" />
        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedByUsername" Title="Created By" />
        <RadzenDataGridColumn TItem="TeamDto" Property="TeamTypeName" Title="Team Type" />
    </Columns>
</RadzenDataGrid>

<RadzenDataList class="custom-datalist"
                AllowVirtualization=@true
                Style="height:550px;overflow:auto;"
                WrapItems=@false AllowPaging=@false
                Data="@teams" TItem="TeamDto">
    <Template Context="team">
        <TeamCard Team="team"></TeamCard>
    </Template>
</RadzenDataList>

<style>
    .custom-datalist {
        --rz-datalist-background-color: var(--rz-base-background-color);
        --rz-datalist-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.01);
        --rz-datalist-padding: none;
        --rz-datalist-border: var(--rz-border-base-700);
        --rz-datalist-border-radius: var(--rz-border-radius);
        --rz-datalist-item-shadow: none; /* Remove the shadow */
        --rz-datalist-item-border: none;
        --rz-datalist-item-vertical-margin: 0.5rem;
        --rz-datalist-item-horizontal-margin: 0.5rem;
        --rz-datalist-item-padding: 1rem;
        --rz-datalist-item-background-color: var(--rz-base-background-color);
    }

        .custom-datalist .rz-datalist-data > li {
            border-radius: 0; /* Remove border-radius */
        }
</style>


