

@page "/changePassword"


@rendermode InteractiveServer

@inherits ComponentBase

@if (loggedIn)
{
    <center>
        <h1 style="color:white;">Change Password</h1>
        <div style="justify-content:center;text-align:left;width:45%;">
            <RadzenTemplateForm TItem="ChangePasswordViewModel" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
                @if (showError)
                {
                    <RadzenAlert Variant="@Variant.Filled" AlertStyle=@AlertStyle.Primary Size=@AlertSize.Small Shade="Shade.Lighter" AllowClose=false>
                        <RadzenText TagName="TagName.P">@errorMessage</RadzenText>
                    </RadzenAlert>
                }
                <RadzenStack Gap="1rem" Class="rz-p-sm-12">
                    <RadzenFormField Text="Password" Variant="@variant">
                        <ChildContent>
                            <RadzenTextBox Name="PasswordTextBox" @bind-Value="@model.Password" Visible=@(!hidePassword) />
                            <RadzenPassword Name="Password" @bind-Value="@model.Password" Visible=@hidePassword />
                        </ChildContent>
                        <End>
                            <RadzenButton Icon="@(hidePassword ? "visibility" : "visibility_off")" Click="TogglePassword" Variant="Variant.Text" Size="ButtonSize.Small" />
                        </End>
                        <Helper>
                            <RadzenRequiredValidator Component="PasswordTextBox" Text="Password is required." Visible="@(!hidePassword)" />
                            <RadzenLengthValidator Component="PasswordTextBox" Min="8" Max="100" Text="Password should be between 8 and 100 characters" Visible="@(!hidePassword)" />
                            <RadzenRequiredValidator Component="Password" Text="Password is required." Visible="@hidePassword" />
                            <RadzenLengthValidator Component="Password" Min="8" Max="100" Text="Password should be between 8 and 100 characters" Visible="@hidePassword" />
                        </Helper>
                    </RadzenFormField>
                    <RadzenFormField Text="New Password" Variant="@variant">
                        <ChildContent>
                            <RadzenTextBox Name="NewPasswordTextBox" @bind-Value="@model.NewPassword" Visible=@(!hideNewPassword) />
                            <RadzenPassword Name="NewPassword" @bind-Value="@model.NewPassword" Visible=@hideNewPassword />
                        </ChildContent>
                        <End>
                            <RadzenButton Icon="@(hideNewPassword ? "visibility" : "visibility_off")" Click="ToggleNewPassword" Variant="Variant.Text" Size="ButtonSize.Small" />
                        </End>
                        <Helper>
                            <RadzenRequiredValidator Component="NewPasswordTextBox" Text="Password is required." Visible="@(!hideNewPassword)" />
                            <RadzenLengthValidator Component="NewPasswordTextBox" Min="8" Max="100" Text="Password should be between 8 and 100 characters" Visible="@(!hideNewPassword)" />
                            <RadzenRequiredValidator Component="NewPassword" Text="Password is required." Visible="@hidePassword" />
                            <RadzenLengthValidator Component="NewPassword" Min="8" Max="100" Text="Password should be between 8 and 100 characters" Visible="@hideNewPassword" />
                        </Helper>
                    </RadzenFormField>
                    <RadzenFormField Text="Confirm Password" Variant="@variant">
                        <ChildContent>
                            <RadzenTextBox Name="confirmPasswordTextBox" @bind-Value=@model.ConfirmPassword Visible="@(!hideConfirmPassword)" />
                            <RadzenPassword Name="confirmPassword" @bind-Value=@model.ConfirmPassword Visible="@hideConfirmPassword" />
                        </ChildContent>
                        <End>
                            <RadzenButton Icon="@(hideConfirmPassword ? "visibility" : "visibility_off")" Click="ToggleConfirmPassword" Variant="Variant.Text" Size="ButtonSize.Small" />
                        </End>
                        <Helper>
                            <RadzenRequiredValidator Component="confirmPassword" Text="Confirm Password is required." />
                            <RadzenCompareValidator Component="confirmPassword" Visible=@(!string.IsNullOrEmpty(model.ConfirmPassword)) Value=@model.NewPassword Text="Passwords should be the same." />
                        </Helper>
                    </RadzenFormField>
                    <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Change Password"></RadzenButton>
                </RadzenStack>

            </RadzenTemplateForm>
        </div>
    </center>
}
