@page "/game-card"

@inherits ComponentBase

@rendermode InteractiveServer

<div class="game-card" style="@Style">
    <div class="championship-name">@Game.ChampionshipName</div>
    <div class="game-name-box">
        <div class="game-name">@Game.Name</div>
    </div>
    <div class="game-details">
        <div class="left-column">
            <div class="date-status">
                <div>@(Game.Date == null ? "" : Game.Date.Value.ToString("dd/MM/yyyy"))</div>
                <div>@Game.GameStatusName</div>
            </div>
        </div>
        <div class="team-info">
            <div class="team-row">
                <img src="images/defaultTeam.png" alt="Blue Team Logo" class="team-logo" />
                <div class="team-name">@Game.BlueTeamName</div>
                <div class="team-points">@Game.BluePoints</div>
            </div>
            <div class="team-row">
                <img src="images/defaultTeam.png" alt="Red Team Logo" class="team-logo" />
                <div class="team-name">@Game.RedTeamName</div>
                <div class="team-points">@Game.RedPoints</div>
            </div>
        </div>
    </div>
</div>
