@page "/editchampionship/{championshipId}"

@inherits ComponentBase

@rendermode InteractiveServer

@if (isAdmin)
{
    <center><h1 style="color:white;">Edit Championship</h1></center>
}
<center>
    <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="Teams">
                <RadzenDataGrid AllowFiltering="true"
                                @ref=@datagrid
                                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowPaging="true"
                                PageSize="7"
                                TItem="TeamDto"
                                AllowSorting="true"
                                Data="@teams"
                                ColumnWidth="200px"
                                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedTeam
                                RowClick="@(args => Update(args))">

                    <HeaderTemplate>
                        <RadzenButton Style="margin-right:5px;"
                                      Icon="note_add"
                                      Text="Add"
                                      ButtonStyle="ButtonStyle.Primary"
                                      Click=@(()=>OpenJoinDialog(currentChampionship.Id.ToString(), currentChampionship.Name.ToString())) />
                        <RadzenButton Style="margin-right:5px;"
                                      Disabled=@disabledDelete
                                      Icon="delete_forever"
                                      Text="Remove"
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Click="@(()=>Delete(championshipId, selectedTeam.FirstOrDefault().Id.ToString()))" />
                    </HeaderTemplate>
                    <Columns>
                        <RadzenDataGridColumn TItem="TeamDto" Property="Name" Title="Team">
                            <Template Context="team">
                                <ImageNameTemplate Image="@team.Logo"
                                                   Name="@team.Name"
                                                   ImageType="ImageNameTemplate.ImageTypeOptions.Team" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedOn" Title="Created On" />
                        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedByUsername" Title="Created By" />
                        <RadzenDataGridColumn TItem="TeamDto" Property="TeamTypeName" Title="Team Type" />
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Details">
                <ChangeName @ref=@changeChampionshipName
                            StateChange=@CheckButtonState /><br /><br />
                <ImageUpload @ref=@changeChampionshipLogo
                             SetImageFor="@ImageUpload.SetImageForOptions.Championship"
                             StateChange=@CheckButtonState /><br/>
                <RadzenDropDown Change="@(args => OnChangeDropDown(args))" @bind-Value=@currentChampionshipStatus Data=@(championshipStatuses.Select(x => x.Name).ToList()) Name="DropDownBindValue" /><br/>
                <div>
                    <br />
                    <RadzenButton Click=@OnSaveChangesClick Text="Save Changes" ButtonStyle="ButtonStyle.Primary" Disabled="@isValueInitial" Class="SaveButtonEdit" />
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Lot"></RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</center>


