@page "/editchampionship/{championshipId}"

@inherits ComponentBase

@rendermode InteractiveServer

@if (isAdmin)
{
    <center><h1 style="color:white;">Edit Championship</h1></center>
}
<center>
    <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="Teams">
                <RadzenDataGrid AllowFiltering="true"
                                @ref=@datagrid
                                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowPaging="true"
                                PageSize="7"
                                TItem="TeamDto"
                                AllowSorting="true"
                                Data="@teams"
                                ColumnWidth="200px"
                                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedTeam
                                RowClick="@(args => Update(args))">

                    <HeaderTemplate>
                        <RadzenButton Style="margin-right:5px;"
                                      Icon="note_add"
                                      Text="Add"
                                      ButtonStyle="Radzen.ButtonStyle.Primary"
                                      Click=@(()=>OpenJoinDialog(currentChampionship.Id.ToString(), currentChampionship.Name.ToString())) />
                        <RadzenButton Style="margin-right:5px;"
                                      Disabled=@disabledDelete
                                      Icon="delete_forever"
                                      Text="Remove"
                                      ButtonStyle="Radzen.ButtonStyle.Secondary"
                                      Click="@(()=>Delete(championshipId, selectedTeam.FirstOrDefault().Id.ToString()))" />
                    </HeaderTemplate>
                    <Columns>
                        <RadzenDataGridColumn TItem="TeamDto" Property="Name" Title="Team">
                            <Template Context="team">
                                <ImageNameTemplate Image="@team.Logo"
                                                   Name="@team.Name"
                                                   ImageType="ImageNameTemplate.ImageTypeOptions.Team" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedOn" Title="Created On" />
                        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedByUsername" Title="Created By" />
                        <RadzenDataGridColumn TItem="TeamDto" Property="TeamTypeName" Title="Team Type" />
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Details">
                <RadzenLabel Style="color:white;" Text="Name" Class="form-label" />
                <ChangeName @ref=@changeChampionshipName
                            StateChange=@CheckButtonState /><br /><br />
                <RadzenLabel Style="color:white;" Text="Logo" Class="form-label" />
                <ImageUpload @ref=@changeChampionshipLogo
                             SetImageFor="@ImageUpload.SetImageForOptions.Championship"
                             StateChange=@CheckButtonState /><br/>
                <RadzenLabel Style="color:white;" Text="Status" Class="form-label" />
                <RadzenDropDown Change="@(args => OnChangeDropDown(args))" @bind-Value=@currentChampionshipStatus Data=@(championshipStatuses.Select(x => x.Name).ToList()) Name="DropDownBindValue" /><br/>
                <div class="form-row">
                    <div class="form-group half-width">
                        <RadzenLabel Style="color:white;" Text="Lot Date" Class="form-label" />
                        <RadzenDatePicker Kind="DateTimeKind.Local"
                                          Name="LotDate"
                                          ShowTime="true"
                                          DateFormat="dd/MM/yyyy HH:mm"
                                          @bind-Value="currentChampionship.LotDate"
                                          Style="width: 100%;"
                                          Disabled="@(currentChampionship.Games.Count > 0)"
                                          @bind-Value:after="CheckButtonState" />
                        @if (currentChampionship.Games.Count > 0)
                        {
                            <label style="color:red">*Lot Date cannot be changed since the Lot has already been drawn.</label>
                        }
                    </div>
                    <div class="form-group half-width">
                        <RadzenLabel Style="color:white;" Text="Date" Class="form-label" />
                        <RadzenDatePicker Kind="DateTimeKind.Local"
                                          Name="Date"
                                          ShowTime="true"
                                          DateFormat="dd/MM/yyyy HH:mm"
                                          @bind-Value="currentChampionship.Date"
                                          Style="width: 100%;"
                                          DateRender="DateRender"
                                          @bind-Value:after="CheckButtonState"
                                          Disabled="@(currentChampionship.ChampionshipStatusName == "Finished")" />
                        @if (currentChampionship.ChampionshipStatusName == "Finished")
                        {
                            <label style="color:red">*Date cannot be changed since the Championship has already ended.</label>
                        }
                    </div>
                </div>   <br />
                <div>
                    <br />
                    <RadzenButton Click=@OnSaveChangesClick Text="Save Changes" ButtonStyle="Radzen.ButtonStyle.Primary" Disabled="@isValueInitial" Class="SaveButtonEdit" />
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Lot">
                @if (currentChampionship.Games == null || currentChampionship.Games.Count == 0)
                {
                    <RadzenButton ButtonStyle="Radzen.ButtonStyle.Primary" Text="Draw Lot" Icon="shuffle" Click="DrawLot"/>
                }
                else
                {
                    <ChampionshipBracket Games="currentChampionship.Games" TeamsCount="currentChampionship.Teams.Count" />
                }
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</center>

@* <style>
    .rz-panel-menu{
        font-size: unset;
        font-weight: unset;
    }
</style> *@


