@page "/GameStatusMain"
@inherits ComponentBase
@rendermode InteractiveServer

<style>
    .rz-grid-table {
        width: unset;
    }
</style>
<br />
<center><h1 style="color:white;">Manage Game Statuses</h1></center>
<br />
@if (isAdmin)
{
    <RadzenDataGrid @ref="gameStatusGrid"
                    AllowAlternatingRows="false"
                    AllowFiltering="false"
                    AllowPaging="true"
                    AllowSorting="true"
                    EditMode="@DataGridEditMode.Single"
                    PageSize="7"
                    Data="@gameStatusList"
                    TItem="GameStatus"
                    RowUpdate="@OnUpdateRow"
                    RowCreate="@OnCreateRow"
                    Sort="@Reset"
                    Page="@Reset"
                    Filter="@Reset"
                    ColumnWidth="20200202px">
        <HeaderTemplate>
            <RadzenButton Icon="note_add" Text="Create" ButtonStyle="Radzen.ButtonStyle.Secondary"
                          Click="@InsertRow"
                          Disabled="@(gameStatusesToInsert.Count() > 0)" />
        </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn TItem="GameStatus" Property="Name" Title="Name">
                <EditTemplate Context="gameStatus">
                    <RadzenTextBox @bind-Value="gameStatus.Name" Style="width:200px; display: block" Name="Name" />
                    <RadzenRequiredValidator Text="Name is required" Component="Name" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Width="1%" TItem="GameStatus" Context="gameStatus" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                <Template Context="gameStatus">
                    <RadzenButton Icon="edit" ButtonStyle="Radzen.ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(gameStatus))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton ButtonStyle="Radzen.ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(gameStatus))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="gameStatus">
                    <RadzenButton Icon="check" ButtonStyle="Radzen.ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(gameStatus))">
                    </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="Radzen.ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(gameStatus))">
                    </RadzenButton>
                    <RadzenButton ButtonStyle="Radzen.ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(gameStatus))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>
}


@code {
    

}
