@page "/championshipsmain"

@inherits ComponentBase


@rendermode InteractiveServer

<PageTitle>Championships</PageTitle>
<center><h1 style="color:white;">Championships dashboard</h1></center>



<RadzenDataGrid @ref="championshipList"
                AllowFiltering="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                AllowPaging="true"
                PageSize="7"
                AllowSorting="true"
                ColumnWidth="200px"
                Data="@championships"
                SelectionMode="DataGridSelectionMode.Single" 
                @bind-Value=@selectedChampionship
                TItem="ChampionshipDto"
                RowClick="@(args => Update(args))"
                CellContextMenu="@OnCellContextMenu">
    <HeaderTemplate>
        <RadzenButton Disabled=@(!isAdmin) Visible=@isAdmin Style="right: 5.5rem; float: right; position: absolute; margin-right: 0.5rem;" Icon="note_add" Text="Create Championship" ButtonStyle="ButtonStyle.Secondary" Click="OpenChampionshipCreatePage" />
        <RadzenButton Disabled=@disabledEdit Visible=@isAdmin Style="right: 0.5rem; float: right; position: absolute;" Icon="edit" Text="Edit" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Disabled=@disabledJoin Style="margin-right: 0.5rem;" Icon="groups" Text="Join Championship" ButtonStyle="ButtonStyle.Success" Click=@(() => OpenJoinDialog(selectedChampionship.FirstOrDefault().Id.ToString(), selectedChampionship.FirstOrDefault().Name)) />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TextAlign="TextAlign.Left" TItem="ChampionshipDto" Property="Name" Title="Name">
            <Template Context="championship">
                @championship.Name
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Width="75px" TItem="ChampionshipDto" Property="ChampionshipStatusName" Title="Status">
            <Template Context="championship">
                <StatusBadge Status="@championship.ChampionshipStatusName" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="75px" TItem="ChampionshipDto" Property="ChampionshipTypeName" Title="Championship Type">
            <Template Context="championship">
                @championship.ChampionshipTypeName
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="75px" TItem="ChampionshipDto" Property="GameTypeName" Title="Game Type Name">
            <Template Context="championship">
                @championship.GameTypeName
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="75px" TItem="ChampionshipDto" Property="LotDate" Title="Lot Date">
            <Template Context="championship">
                @(championship.LotDate == null ? "" : championship.LotDate.Value.ToLocalTime().ToString("| dd-MM-yyyy | HH:MM tt |"))
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="75px" TItem="ChampionshipDto" Property="Date" Title="Date">
            <Template Context="championship">
                @(championship.Date == null ? "" : championship.Date.Value.ToLocalTime().ToString("| dd-MM-yyyy | HH:MM tt |"))
    
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ChampionshipDto" Property="WinnerName" Title="Championship Winner">
            <Template Context="championship">
                <ImageNameTemplate 
                    Image="@championship.WinnerLogo"
                    Name="@championship.WinnerName"
                    ImageType="ImageNameTemplate.ImageTypeOptions.Team"/>
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {

}
