@page "/championshipsmain"

@inherits ComponentBase


@rendermode InteractiveServer

<PageTitle>Championships</PageTitle>
<center><h1 style="color:white;">Championships dashboard</h1></center>



<RadzenDataGrid @ref="championshipList"
                AllowFiltering="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                AllowPaging="true"
                PageSize="7"
                AllowSorting="true"
                ColumnWidth="200px"
                Data="@championships"
                SelectionMode="DataGridSelectionMode.Single" 
                @bind-Value=@selectedChampionship
                TItem="ChampionshipDto"
                RowClick="@(args => Update(args))"
                CellContextMenu="@OnCellContextMenu">
    <HeaderTemplate>
        <RadzenButton Disabled=@(!isAdmin) Visible =@isAdmin Style="margin-right:5px;" Icon="note_add" Text="Create Championship" ButtonStyle="ButtonStyle.Secondary" Click="OpenChampionshipCreatePage" />
        <RadzenButton Disabled=@disabledEdit Visible=@isAdmin Style="margin-right:5px;" Icon="edit" Text="Edit" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Disabled=@disabledJoin Style="margin-right:5px;" Icon="groups" Text="Join Championship" ButtonStyle="ButtonStyle.Success" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="ChampionshipDto" Property="Name" Title="Name">
            <Template Context="championship">
                @championship.Name
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ChampionshipDto" Property="GameTypeName" Title="Game Type Name">
            <Template Context="championship">
                @championship.GameTypeName
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ChampionshipDto" Property="Date" Title="Date">
            <Template Context="championship">
                @championship.Date
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ChampionshipDto" Property="WinnerName" Title="Championship Winner">
            <Template Context="championship">
                <ImageNameTemplate 
                    Image="@championship.WinnerLogo"
                    Name="@championship.WinnerName"
                    ImageType="ImageNameTemplate.ImageTypeOptions.Team"/>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ChampionshipDto" Property="ChampionshipStatusName" Title="Status">
            <Template Context="championship">
                <StatusBadge Status="@championship.ChampionshipStatusName" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ChampionshipDto" Property="ChampionshipTypeName" Title="Championship Type">
            <Template Context="championship">
                @championship.ChampionshipTypeName
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Filterable=false Sortable=false TItem="ChampionshipDto" Title="Details">
            <Template Context="championship">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" class="m-1" Click="() => OpenChampionship(championship.Id.ToString())" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

}
