@page "/championshipsmain"

@inherits ComponentBase


@rendermode InteractiveServer

<PageTitle>Championships</PageTitle>
<center><h1 style="color:white;">Championships dashboard</h1></center>



<RadzenDataGrid @ref="championshipList"
                AllowFiltering="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                AllowPaging="true"
                PageSize="7"
                AllowSorting="true"
                ColumnWidth="200px"
                Data="@championships"
                SelectionMode="DataGridSelectionMode.Single" 
                @bind-Value=@selectedChampionship
                TItem="ChampionshipDto"
                RowClick="@(args => Update(args))"
                CellContextMenu="@OnCellContextMenu">
    <HeaderTemplate>
        <RadzenButton Disabled=@(!isAdmin) Visible=@isAdmin Style="right: 5.5rem; float: right; position: absolute; margin-right: 0.5rem;" Icon="note_add" Text="Create" ButtonStyle="Radzen.ButtonStyle.Secondary" Click="OpenChampionshipCreatePage" />
        <RadzenButton Disabled=@disabledEdit Visible=@isAdmin Style="right: 0.5rem; float: right; position: absolute;" Icon="edit" Text="Edit" ButtonStyle="Radzen.ButtonStyle.Primary" Click=@(()=> OpenEditDialog(selectedChampionship.FirstOrDefault().Id.ToString())) />
        <RadzenButton Disabled=@disabledJoin Style="margin-right: 0.5rem;" Icon="groups" Text="Join" ButtonStyle="Radzen.ButtonStyle.Success" Click=@(() => OpenJoinDialog(selectedChampionship.FirstOrDefault().Id.ToString(), selectedChampionship.FirstOrDefault().Name)) />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TextAlign="TextAlign.Left" TItem="ChampionshipDto" Property="Name" Title="Championship">
            <Template Context="championship">
                <ImageNameTemplate Image="@championship.Logo"
                                   Name="@championship.Name"
                                   ImageType="ImageNameTemplate.ImageTypeOptions.Championship" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Width="100px" TItem="ChampionshipDto" Property="ChampionshipStatusName" Title="Status">
            <Template Context="championship">
                <StatusBadge Status="@championship.ChampionshipStatusName" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="100px" TItem="ChampionshipDto" Property="ChampionshipTypeName" Title="Championship Type">
            <Template Context="championship">
                @championship.ChampionshipTypeName
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="100px" TItem="ChampionshipDto" Property="GameType" Title="Game Type Name">
            <Template Context="championship">
                @championship.GameType
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="100px" TItem="ChampionshipDto" Property="LotDate" Title="Lot Date">
            <Template Context="championship">
                @if (championship.LotDate == null)
                {
                    <span></span>
                }
                else
                {
                <div class="timeBadge">
                    <center><span>@(championship.LotDate.Value.ToLocalTime().ToString("dd-MM-yyyy HH:mm tt"))</span></center>
                </div>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="100px" TItem="ChampionshipDto" Property="Date" Title="Date">
            <Template Context="championship">
                @if (championship.Date == null)
                {
                    <span></span>
                }
                else
                {
                    <div class="timeBadge">
                        <center><span>@(championship.Date.Value.ToLocalTime().ToString("dd-MM-yyyy HH:mm tt"))</span></center>
                    </div>
                }           
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ChampionshipDto" Property="WinnerName" Title="Championship Winner">
            <Template Context="championship">
                <ImageNameTemplate 
                    Image="@championship.WinnerLogo"
                    Name="@championship.WinnerName"
                    ImageType="ImageNameTemplate.ImageTypeOptions.Team"/>
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {

}
